*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{

    min-height: 100vh;
    background: url('Images/darkimage.jpg') no-repeat center center/cover;
}
.header
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* border: 4px solid white; */
    font-size: 44px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgb(240, 240, 238);
    height: 60px;

}
.home{
    /* border: 4px solid white; */
    display: flex;
    padding-top: 280px ;
    color: aliceblue;
    height: 365px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.h-primary
{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: rgb(240, 233, 224);
}
.para
{
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    color: aliceblue;
}
.footer
{
    border: 4px solid white;
    background-color: aliceblue;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.social-I
{
    padding: 0px 20px;
    font-size: 30px ;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.social-T
{
    padding: 0px 20px;
    font-size: 30px ;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.social-L
{
    padding: 0px 20px;
    font-size: 30px ;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.foot-s
{
    margin-bottom: 80px;
    margin-top: 30px;
}
.footer a img
{
    padding: 0px 0px;
    height: 40px;
    width: 40px;
}
a
{
    text-decoration: none;
    color: aliceblue;
}


@media screen and (max-width: 450px) {
    .h-primary {
      text-align: center;
    }
    p{
        text-align: center;

    }
  }